tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==1.1.0
threadpoolctl==3.1.0 
torch==1.13.1
torchvision==0.14.1
tqdm==4.62.3
numpy==1.24.2 
pandas==1.5.0 
matplotlib==3.6.1
tensorboardX==2.6
pytorch_lightning==1.9.3
torchmetrics==0.9.0 
neptune-client==0.16.18
scipy==1.10.1
scikit-learn==1.2.2
fairlearn
mpi4py
folktables